body{
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#corpo{
    background-color: #63A44D;
    display: flex;
}

.logo{
    width: 900px;
    height: 900px;
    margin-left: 100px;

}


.texto{
    color: white;
    margin-top: 200px;
    margin-left: 100px;
    width: 500px;
    height: 150px;
    padding: 2px;
}

h1{
    font-size: 32px; 
}

.e{
    font-family: "poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-style: bold;
}


input
{
    font-size: 14px;
    border-radius: 12px;
    height: 40px;
    border: none;
    padding: 0 12px;
    background-color: #f7eef5;
}


.btn{
    font-size: 40px;
    border-radius: 14px;
    border: none;
    color: white;
    background-color: #b0d13c;
    padding: 5px 170px;

}

.btn:hover{
    color: #1e2e18;
    border: #1e2e18;
}
p{
    padding: 3px 70px;
    font-size: 16px;
    
}
a{
    color: #b0d13c;
    
}

